
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px ;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 15px;
    
}
nav a{
    text-decoration: none;
}
.right{
    display: flex;
    justify-content: space-between;
    align-items: center;   
   
}
.right a{
    margin: 5px 9px;
    
}
.right img{
    opacity: 0.5;
}
.right img:hover{
    opacity: 1;
}
.right button{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #4285F4;
    color: white;
    cursor: pointer;
    outline:none;
    border: none;

}
#mer, #micro{
    width: 20px;
    height: auto;

}

footer{
    bottom:0;
    position:fixed;
    background-color:#f2f2f2 ;
    font-size:15px;
    line-height: 36px;
    width: 100%;
    
    /* border: 0px 5px; */
}

.header2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .footLeft{
    float: left;
    padding: 15px;
}
.footRight{
    float: right;
    padding: 15px;
} */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 200px auto 0px;

}
.arama{
    display: flex;
    border: 1px solid lightgray;
    border-radius: 25px;
    width: 460px; 
    align-items: center;  
    padding: 10px 0;

}
.arama:hover{
    box-shadow: 0 1 6 0.1 gray;
}

textarea:focus, input:focus{
    outline: none;
}
input{
    border: none;
    width: 350px;
    font-size: 20px;
    margin-bottom: 5px;
    
}
#key{
    width: 30px;
    height: 25px;
    /* margin-bottom: 3px; */
}

#mer{
    width: 25px;
    margin-left: 5px;

}

#micro{
    margin-left: 10px;
    width: 19px;
    margin: auto;
}

a{
    margin: 0px 5px;
    text-decoration: none;
}
.lucky{
    text-align: center;
    justify-content: center;
    margin: 15px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px ;    
   
}
.lucky button:hover{
    box-shadow: rgba(0, 0, 0, 0.1);
    border: 1px solid lightgray;
    

}

.lang{
    text-align: center;
    font-size: 14px
    
}

.lang a{
    text-decoration: underline;
    color:#000080;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px ;
    
}
.lang a:visited{
    color:#000080;
    

}
.lucky1, .lucky2
{
    background: color #f9f9f9; 
    width: 120px;
    height: 36px;
    border: hidden;
    border-radius: 4px;
    color: #5f6368;
    margin-top: 25px;
    font-size: small;
    
}

.header1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px ;
}
.header2{
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px ;
}
a:visited{
    color: #70757A;
}
nav a:hover, .header2 a:hover{
    text-decoration: underline;

}

.text-center{
    text-align: center;
    margin-bottom: 20px;
    
 
}

.margin-auto{
    margin: auto;
}